* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #dbb128;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: stretch;
    padding: 0 1rem;
  }
  
  .app-title {
    font-size: 2.3rem;
    font-weight: 1500;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }
  
  .nav a {
    align-items: center;
    color: inherit;
    text-decoration: none;
    display: flex;
    height: 100%;
    padding: .27rem;
  }
  
  .nav li:hover {
    background-color:  #00000025;
  }
  
  .nav li.active {
    background-color: #00000025;
  }